.navbar-inner {
	border-radius:0;
}

.modal {
	position: absolute; /* Needed for select2 dropdowns */
}

.move-cursor, .move-cursor:hover {
	cursor: move;
	color: #333333;
	text-decoration: none;
}

.wysiwyg {
	padding: 5px;
	border: 1px solid #a0a0a0;
	border-radius: 3px;
}